.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  flex-direction: column;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
  }

  .advantages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 3.633610963821411px 18.168054580688477px 0px #0000000f;
        padding: 50px 60px;
        width: 300px;
        height: 190px;
      }

      .item,
      .item2 {
        .imgWrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #d9000d;
          padding: 12px;
          border-radius: 50%;
          border-right: 3.5px solid #b8010c;
          border-bottom: 3.5px solid #b8010c;
        }
        transition: all 0.2s linear;

        &:hover {
          transform: scale(0.94);
        }
      }

      .item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 3.633610963821411px 18.168054580688477px 0px #0000000f;
        padding: 50px 60px;
        width: 100%;
        text-align: center;
        height: 140px;
      }
    }
  }
}
