.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
  position: relative;
  overflow: hidden;

  .centerLine {
    width: 100%;
    height: 1px;
    position: absolute;
    margin-top: 5%;
    background-color: #cecece;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 45px;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding: 20px;

    .section1 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 2rem;
      gap: 5px;
      padding-bottom: 25px;

      .line {
        height: 150px;
        width: 1px;
        background-color: #cecece;
        margin-bottom: 30px;
      }
    }
    .section2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 2rem;
      gap: 5px;
      padding-bottom: 25px;

      .line {
        height: 150px;
        width: 1px;
        background-color: #cecece;
        margin-top: 30px;
      }
    }
  }

  img {
    min-width: 200px !important;
    padding: 10px;
  }

  @media (max-width: 991px) {
    transform: translateY(-100px);

    h1 {
      font-size: 2.2rem;
    }

    .centerLine {
      margin-top: 22%;
    }

    .products {
      padding: 10px;
      .section2 {
        padding-bottom: 10px;
      }
    }
  }
}
