@font-face {
    font-family: "Casper";
    src: url('../fonts/casper/Casper.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Casper', sans-serif;
}

.ant-modal .ant-modal-content {
    background-color: transparent !important;
}

.anticon svg {
    color: #b6b6b6;
    width: 12px;
    height: 12px;
    display: none !important;
}

.ant-select-selector {
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}


.ant-select-single .ant-select-selector {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-select-selection-item {
    overflow: auto !important;
    text-overflow: inherit !important;
    margin-left: 13px !important;
}

.ant-select-arrow {
    display: none !important;
}