@font-face {
    font-family: "Casper";
    src: url('../fonts/casper/Casper.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Casper', sans-serif;
}

.ant-modal .ant-modal-content {
    background-color: transparent !important;
}

.anticon svg {
    color: #b6b6b6;
    width: 12px;
    height: 12px;
}

.ant-select-selector {
    border: none !important;
}