.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 6rem;
  .left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icons {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        cursor: pointer;

        &:hover {
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .selectWrap {
      .mediaPhoneIcon {
        display: none;
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 18px;
      }
    }

    .navbarBtn {
      padding: 12px 15px 12px 15px;
      border-radius: 3px;
      border: 1px solid #c20000;
      background-color: #e30613;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: #f10d1c;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .icons {
        display: none;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-direction: row-reverse;
      .location {
        img {
          cursor: pointer;
          display: none;
        }
        p {
          display: none;
        }
      }

      .navbarBtn {
        display: none;
      }

      .selectWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        .mediaPhoneIcon {
          display: block;
          color: #505050;
        }
      }
    }
  }
}

.faIcon {
  transition: all 0.2s linear;
  color: #505050;
  &:hover {
    color: #f10d1c;
  }
}

.languageSelector {
  position: relative;
}
