.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 6rem;
  .left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icons {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        cursor: pointer;

        &:hover {
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .location {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 18px;
      }
    }

    .navbarBtn {
      padding: 12px 20px 12px 20px;
      border-radius: 3px;
      border: 1px solid #c20000;
      background-color: #e30613;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background-color: #f10d1c;
      }
    }
  }
}
