.wrapper {
  .items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    transform: translateY(-90px);
    background-color: #fff;
    box-shadow: 0px 4px 33px 0px #00000014;
  }

  .item {
    text-align: center;
    border-right: 1.5px solid #cecece;
    padding: 10px;

    h4 {
      color: #ff0000;
      font-size: 1.4rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      font-size: 0.9rem;
      line-height: 16px;
      padding-top: 15px;
      margin-top: 0;
      margin: 0 auto;
      padding-bottom: 20px;
      color: #505050;
    }
  }

  .mediaItems {
    display: none;
  }

  @media (max-width: 991px) {
    margin: 0 30px;
    transform: translateY(-112px);
    background-color: #fff;

    .items {
      display: none;
    }

    .mediaItems {
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 4px 33px 0px #00000014;

      .topItems,
      .bottomItems {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
          width: 100px;
          padding: 5px 8px;
        }

        h1 {
          font-size: 1.4rem;
        }

        p {
          height: 30px;
          font-size: 9px;
          line-height: 10px;
        }
      }

      .topItems {
        border-bottom: 1.5px solid #cecece;
      }
    }
  }
}
