.wrapper {
  background-image: url("/bg.png");
  height: 600px;
  width: 88vw;
  display: flex;
  align-items: center;
  padding: 0.8rem 6rem;
  justify-content: center;

  .left {
    text-align: start;
    h1 {
      font-size: 2.8rem;
      width: 68%;
      color: #fff;
      line-height: 64px;
      font-weight: 600;
    }
  }
}
